@model WorkflowProject.Models.Action

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Action</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ATitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ATitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ADesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ADesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSRSAffected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSRSAffected)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Process)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Process.ProcessId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
