@model WorkflowProject.Models.Action

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Action</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ATitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ATitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ADesc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ADesc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSRSAffected)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSRSAffected)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Process)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Process.ProcessId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
